@charset "utf-8";

div#interface {
  margin: -8px auto 0px auto;
  height: 850px;
}

header#cabecalho {
  margin-bottom: 0px;
#border: 1px solid red;
}

hr {
  margin-top: 0px;
}

div#quem_somos {
  width: 300px;
  #position: relative;
  float: left;
#border: 1px solid red;
}

div#erro {
  #float: right;
  width: 350px;
  position: absolute;
  top: 140px;
  left: 532px;
  #margin-bottom: -20px;
}

form {
  float: right;
  width: 500px;
  position: relative;
  #margin: 70px auto 120px auto;
  top: 15px;
  left: -120px;
  padding: -30px;
#border: 1px solid green;
}

div#missao {
  #position: relative;
  float: right;
  #margin-top: 260px;
  #margin-left: 60px;
  width: 640px;
  margin-top: -50px;
#border: 1px solid green;
}

div#visao {
  #float: right;
  #position: relative;
  #top: 35px;
  #left: -300px;
  margin-top: 470px;
#border: 1px solid green;
}

img.icone_login {
  margin-bottom: -7px;
  width: 25px;
  margin-right: -5px;
}

input {
  font-family: sans-serif;
  font-weight: normal;
  width: 223px;
  font-size: 13pt;	
  background-color: rgba(255, 255, 255,.8);
}

input#bEntrar {
  margin-left: 55px;  
  text-align: left;
  background-color: #dddddd;
}

input:hover {
  background-color: #dddddd;	
}

fieldset {
  margin: 60px;
  padding-bottom: 25px;
}
