@charset "utf-8";

img#voltar-estoque {
  margin-bottom: -30px;
}

fieldset {
  border: 2px solid #888888;
}

legend {
  color: #888888;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13pt;
}

div.mensagem {
  width: 350px;
}
