@charset "utf-8";
/*
form#busca {
  text-align: right;
  margin-bottom: 20px;
}*/
/*
img#voltar-estoque {
  margin-bottom: -30px;
}*/
/*
fieldset {
  border: 2px solid #888888;
}*/

div.mensagem {
  width: 350px;
}